<%-include("./partials/header")-%>
	
<!-- <%blogs.forEach(function(blog){%>
<%=blog.Fname%>
<%=blog.Lname%>
<%=blog.image%>
<%=blog.content%>
<%=blog.food%>
<%=blog.created%>
	<%})%> -->


<div class= "ui main text container">
	<div class="ui huge header">
	CREATIVE BLOG
	</div>
	
	<div class="ui top attached segment">
		<!-- divider is triggered by item elemebts created by the invisible forEach-->
		<div class="ui divided items">
		<%blogs.forEach(function(blog){%>
			<div class="item">
				<div class="image small bordered rounded">
					<img src="<%=blog.image%>">
				</div>
				<!-- use for meta data time and name -->
				<div class="content">
					<a class="header" href="/blogs"><%=blog.Fname%> <%=blog.Lname%></a>
					<div class="meta">
						<a class ="ui header" href="/blogs/<%=blog._id%>">Click for more..</a>
						<span><%=blog.created.toDateString()%></span>
					</div>
				<div class="content">
					<p>
						 "<%=blog.food%>"
					</p>
				</div>
				<div class="description">
					<p>
						<%=blog.content.substring(0,100)%>
					</p>
				</div>
				</div>
			</div>
		<%})%>
		</div>
	</div>

	</div>



<%-include("./partials/footer")-%>