<%-include("./partials/header")-%>

<div class="ui main text container raised segment">
	<div class="ui huge header">
		<%=blog.Fname%> <%=blog.Lname%>
	</div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui medium centered circular image" src="<%=blog.image%>">
		</div>
		<div class="ui segments">
			  <div class="ui segment center aligned">
				<p>	<span> "<%=blog.food%>" </span></p>
			  </div>
			  <div class="ui segments">
				<div class="ui segment">
				  <p><%-blog.content%></p>
			 </div>
		</div>
	</div>
		<a class="ui orange basic button" href="/blogs/<%=blog._id%>/edit">Edit</a>
</div>





<%-include("./partials/footer")-%>